<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Public/css/estilos.css">
</head>

<body>
    <h1>TIENDA DE MASCOTAS</h1>
    <label for="nombre_mascota">NOMBRE DE LA MASCOTA:</label>
    <input type="text" name="nombre_mascota" id="nombre_mascota">
    <br>
    <label for="descripcion">DESCRIPCION DE LA MASCOTA:</label>
    <textarea name="descripcion" id="descripcion" rows="4" cols="50"></textarea>
    <br>
    <label for="tipo">TIPO DE MASCOTA:</label>
    <select name="tipo" id="tipo">
        <option value="perro">perro</option>
        <option value="gato">gato</option>
        <option value="pez">pez</option>
    </select>
    <br>

    <label for="SEXO">SEXO:</label>
    <input type="radio" name="sexo" id="sexo">
    <label for="sexo">MASCULINO</label>
    <input type="radio" name="sexo" id="sexo">
    <label for="sexo">FEMENINO</label>
    <br>

    <label for="dias">SELECCIONE DIA DE VACUNACION</label>
    <br>

    <label for="lunes">Lunes</label>
    <input type="checkbox" name="dias[]" id="lunes">
    <label for="martes">Martes</label>
    <input type="checkbox" name="dias[]" id="martes">
    <label for="miercoles">Miercoles</label>
    <input type="checkbox" name="dias[]" id="miercoles">
    <label for="jueves">Jueves</label>
    <input type="checkbox" name="dias[]" id="jueves">
    <label for="viernes">Viernes</label>
    <input type="checkbox" name="dias[]" id="viernes">
    <br>





</body>

</html>